html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #3EB890;
    padding-bottom: 72px;
}

header {
    padding-top: 36px;
    text-align: center;
    padding-bottom: 24px;
}

header img {
    height: 64px;
    width: 64px;
}

section img {
    height: 48px;
    width: 48px;
}

footer {
    background-color: #70CADB;
    bottom: 0;
    box-shadow: 0px -4px 16px 0px rgba(0,0,0,0.4);
    height: 60px;
    left: 0;
    line-height: 60px;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
}

.emoji-name {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 0;
}

.emoji-code {
    color: #E01765;
    font-style: italic;
}

.emoji-code:before, .emoji-code:after {
    content: ":"
}